@import "~bootstrap/scss/bootstrap.scss";

.grill {
    display:flex;
    flex-wrap: wrap;
    width: 440px;
    height: 440px;
}
.table {
    border-color:whitesmoke;
    background-color:rgba(216, 206, 223, 0.808);
}
td{
    width: 40px;
    height: 40px;
}
.square{
    background-color: rgba(79, 67, 88, 0.808);
  }
.square_active{
    background-color: rgba(248, 0, 0, 0.808);
  }
/* .row {
    display:flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
} */
/* .square{
   color: grey;
   background-color: hotpink;
    margin: 1px;
    width: 40px;
    height:40px;
} */